@import './your-market/styles';
@import '_typography';

* {
  font-family: 'Poppins', sans-serif;
}

html {
  --scrollbarBG: #fff;
  --thumbBG: #D3D3D3;
}


body::-webkit-scrollbar {
  width: 10px;
}

body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
