<div class="container-register">
  <img
    src="../../assets/img/sign-up-img.svg"
    alt="shop-img"
    class="shopping-img"
  />
  <div class="row g-0 content">
    <h1 class="font-medium sign-in-up-margin">Sign Up</h1>
    <p class="font-small normal-weight pt-1 sign-in-up-margin text-dark">
      You don't have account?
      <span class="font-market-color bold-weight">
        <a routerLink="/">Sign In</a></span
      >
    </p>
    <div class="col-12 col-sm-5 mt-1 sign-in-up-margin">
      <form [formGroup]="signUpForm">
        <div class="mt-1">
          <app-text-input
              [formControl]="signUpForm.controls['email']"
              [label]="'Email'"
              [type]="'email'"
            ></app-text-input>
        </div>
        <div class="mt-1">
          <app-text-input
              [formControl]="signUpForm.controls['nip']"
              [label]="'NIP'"
              [type]="'text'"
            ></app-text-input>
        </div>
        <div class="mt-1">
          <app-text-input
              [formControl]="signUpForm.controls['nameOfCompany']"
              [label]="'Name of company'"
              [type]="'text'"
            ></app-text-input>
        </div>
        <div class="mt-1">
            <app-text-input
              [formControl]="signUpForm.controls['password']"
              [label]="'Password'"
              [type]="'password'"
            ></app-text-input>
        </div>
      </form>
    </div>
    <div class="col-6 margin-rwd">
      <form [formGroup]="signUpForm">
        <div class="mt-1 mb-4 pb-5"></div>
        <div class="mt-1">
          <app-text-input
              [formControl]="signUpForm.controls['city']"
              [label]="'City'"
              [type]="'text'"
            ></app-text-input>
        </div>
        <div class="mt-1">
          <app-text-input
              [formControl]="signUpForm.controls['postalCode']"
              [label]="'Postal Code'"
              [type]="'text'"
            ></app-text-input>
        </div>
        <div class="mt-1">
          <app-text-input
              [formControl]="signUpForm.controls['repeatPassword']"
              [label]="'Repeat Password'"
              [type]="'password'"
            ></app-text-input>
        </div>
      </form>
    </div>
    <p class="pt-3 bold-weight font-small-info text-center margin-rwd-info">
      Minimum 8 characters and at least one uppercase letter, one lowercase
      letter, one number and one symbol.
    </p>
    <div class="col pt-2">
      <div class="form-check sign-in-up-margin pt-2">
        <input
          class="form-check-input"
          type="checkbox"
          id="termsCheckbox"
          (click)="onClickCheckbox($event)"
        />
        <label class="form-check-label" for="termsCheckbox">
          <span class="font-market-color bold-weight"
            >I accept YourMarket Terms of Use.</span
          >
        </label>
      </div>
    </div>
    <div class="col text-center">
      <button
        class="btn btn-continue"
        type="button"
        [disabled]="!allowSignUp()"
        (click)="onSubmit()"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
