<nav class="fixed-top navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand font-medium" routerLink="/home-page"
      ><span class="font-market-color">YourMarket</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/order-history" tabindex="-1" aria-disabled="true"
            ><span class="font-medium-5 font-market-color-2">Order History</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link mymarket-margin" routerLink="/my-basket" tabindex="-1" aria-disabled="true"
            ><span class="font-medium-5 font-market-color-2">Basket</span></a
          >
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/my-profile" tabindex="-1" aria-disabled="true"
            ><span class="font-medium-5 font-market-color-2">MyMarket Acc</span></a
          >
        </li>
      </ul>
      <button class="btn btn-logout">
        <span class="font-medium-2 normal-weight" (click)="onLogout()">Log Out</span>
      </button>
    </div>
  </div>
</nav>
