<nav class="fixed-top navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand font-medium" href="#"
      ><span class="font-market-color">YourMarket</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="true"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="basket-icon" (click)="onMyBasktet()"></div>
        </li>
        <li class="nav-item">
          <div class="myacc-icon"></div>
        </li>
        <li class="nav-item mymarket-margin">
          <a class="nav-link" routerLink="/my-profile" tabindex="-1" aria-disabled="true"
            ><span class="font-medium-2 font-market-color">MyMarket</span></a
          >
        </li>
      </ul>
      <button class="btn btn-logout">
        <span class="font-medium-2 normal-weight" routerLink="/">Log Out</span>
      </button>
    </div>
  </div>
</nav>
