.container-filter {
  .filter-background {
    background-color: rgba(196, 196, 196, 0.33);
    height: 180px;
    width: 100%;

    .form-control {
      width: 1347px !important;
      height: 70px;
      border-color: #fff !important;

    }

    ::placeholder {
      font-size: 20px !important;
      color: rgba(0, 0, 0, 0.4) !important;
      font-weight: 100 !important;
    }
  }
}
