.footer-container {
  background: #FFFFFF;
  box-shadow: 0px 4px 5px 5px rgba(0, 0, 255, 0.15);
  height: 470px !important;

  .container {
    margin-right: 90px !important;

    a {
      text-decoration: none;
    }
  }

  .footer-hr {
    width: 1228px;
    border: 1px solid #000000;
    margin-top: 55px !important;
    margin-bottom: 30px !important;
    margin-left: 25px !important;
  }
}
