.about {
    margin-left: 70px !important;

    &-margin-title {
        margin-left: 85px !important;;
    }

    &-margin-text {
        margin-left: 205px !important;
        width: 430px !important;
    }
}