.container-my-profile {
  margin-left: 200px !important;

  .info-hr {
    height: 1px;
    color: #bababa;
    width: 937px;
    margin-top: 30px !important;

    &-password {
      margin-bottom: 95px !important;
    }
  }
}

.profile-img {
  position: absolute;
  height: 350px;
  right: 140px;
  top: 140px;
}
