.container {
  padding: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;

  .shop-img {
    width: 475px !important;
    height: 335px !important;
  }

  .form-container {
    background: #905ECE;
    height: 753px !important;
    width: 911px !important;

    &-background {
      background-color: #fff !important;
      margin: auto;
      width: 551px !important;
      height: 703px !important;
      border-radius: 11px;
    }
    
    a {
      text-decoration: none;
      color: #905ECE;
    }

    .btn-sign-in {
      background: #905ECE;
      border-radius: 11px;
      width: 441px;
      height: 65px;
      color: #fff;
      font-size: 20px !important;
      font-weight: 700 !important;
      text-transform: uppercase;

      &:hover {
        background: rgba(115, 0, 255, 0.86);
      }
    }

    .hr-1 {
      border: 2px solid #F1F1F1;
      transform: rotate(-0.18deg);
      margin-top: 160px;
    }
  }

}
