.container {
  padding: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;

  .shop-img {
    width: 475px !important;
    height: 335px !important;
  }

  .form-container {
    background: rgba(144, 94, 206, 0.67);
    height: 753px !important;
    width: 911px !important;

    &-background {
      background-color: #fff !important;
      margin: auto;
      margin-top: 4%;
      width: 591px !important;
      height: 653px !important;
      border-radius: 75px;
    }

    .sign-in-margin {
      margin-left: 45px !important;
    }

    .form-group {
      .form-control {
        background: rgba(196, 196, 196, 0.49);
        border-radius: 16px;
        width: 481px;
        height: 81px;
        border: none;

      }

      ::placeholder {
        color: #7D7D7D !important;
        font-size: 20px !important;
        font-weight: 700 !important;
        opacity: 50%;
      }
    }

    .btn-sign-in {
      background: rgba(144, 94, 206, 0.46);
      border-radius: 16px;
      width: 481px;
      height: 81px;
      color: #fff;
      font-size: 20px !important;
      font-weight: 700 !important;

      &:hover {
        background: rgba(144, 94, 206, 0.86);
      }
    }

    .hr-1 {
      border: 1px solid rgba(0, 0, 0, 0.33);
      transform: rotate(-0.18deg);
    }
  }

}
