<div class="container">
  <div class="row">
    <div class="col pt-4 mt-5 sign-in-img-info">
      <h1 class="font-medium font-big-sign-in pb-3">
        <span class="bold-weight font-market-color">YourMarket</span> Account
      </h1>
      <img
        src="../../assets/img/sign-in-img.svg"
        alt="shopping-online"
        class="shop-img"
      />
      <h2 class="font-medium-2 bold-weight font-medium-sign-in pt-4">
        Lörem ipsum fanat
        <span class="font-market-color">egovis midulig</span> nagelprotest.
        Tremåliga smartball.
      </h2>
      <p class="font-small-3 font-small-3-sign-in pt-4 font-color-grey">
        Lörem ipsum nynt dötyvis trisocial. Laheten bektiga. Gretaeffekten
        multiheskapet prengen. Palaling triktig i kujyheten. Spegen vadade
        hajygt och rebel liling.
      </p>
      <button class="btn btn-contact-us mt-3" (click)="open(content)">Contact Us</button>
    </div>
    <div class="col p-4 form-container">
      <div class="form-container-background">
        <h1 class="font-medium pt-5 sign-in-up-margin">Sign In</h1>
        <p class="font-small normal-weight sign-in-up-margin pt-1">
          You don't have account?
          <span class="font-market-color bold-weight">
            <a routerLink="register">Sign Up</a></span
          >
        </p>

        <form [formGroup]="signInForm">
          <div class="form-group pt-3 mt-3 pb-4 mb-2 sign-in-up-margin">
            <app-text-input
              [formControl]="signInForm.controls['email']"
              [label]="'email'"
              [type]="'email'"
            ></app-text-input>
          </div>
          <div class="form-group sign-in-up-margin">
            <app-text-input
              [formControl]="signInForm.controls['password']"
              [label]="'password'"
              [type]="'password'"
            ></app-text-input>
          </div>
          <p
            class="font medium bold-weight font-market-color pt-3 pb-5 mb-5 sign-in-up-margin"
          >
            Forgot Password
          </p>
          <hr class="hr-1 mb-5" />
          <button
            [disabled]="signInForm.invalid"
            type="button"
            class="btn btn-sign-in sign-in-up-margin"
            (click)="onSubmit()"
          >
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #content>
  <div class="contact-us-content mt-5 ms-5 mb-5">
    <p class="font-medium-3"><span class="font-market-color">Phone number: </span> <span>+48 998123780</span></p>
    <p class="font-medium-3"><span class="font-market-color">Email: </span> <span> yourmarket@gmail.com</span></p>
    <p class="font-medium-3"><span class="font-market-color">Address: </span> <span>Chicago, 303-22</span></p>
  </div>
</ng-template>