<app-navigation></app-navigation>
<div class="container-search">
    <app-filter-products></app-filter-products>
    <div class="container-categories">
        <h1 class="font-big-2 text-center mt-5 pt-1">Main categories</h1>
        <div class="row text-center justify-content-center">
            <div class="col-4">
                <img src="../../assets/img/food-category.svg" alt="food-category" class="category-img mt-5 pt-1">
                <h2 class="mt-4">Food</h2>
            </div>
            <div class="col-4">
                <img src="../../assets/img/christmas-category.svg" alt="christmas-category" class="category-img">
                <h2 class="mt-1">Christmas Items</h2>
            </div>
        </div>
        <div class="row text-center mt-5 pt-1 justify-content-center">
            <div class="col-4">
                <img src="../../assets/img/default-category.svg" alt="default-category">
                <h2 class="mt-3">Not Added Yet</h2>
            </div>
            <div class="col-4">
                <img src="../../assets/img/default-category.svg" alt="default-category">
                <h2 class="mt-3">Not Added Yet</h2>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
