<app-navigation></app-navigation>
<div class="container-order-history mt-5 pt-5">
    <div class="container-order-history-info mt-5 pt-5">
        <h1 class="font-big-3 mt-4 pt-3">Order History</h1>
        <hr class="shared-hr" />
    </div>
    <div class="container-info-order mt-5 pt-5 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Order</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Date</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Status</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Total</span>
        </div>
    </div>
    <hr class="order-history-info-hr">
    <div class="container-info-order d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">#{{ randomNumber }}</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ currentData }}</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">Unfulfilled</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ totalAmount }}</span>
        </div>
    </div>
    <hr class="order-history-info-hr">
</div>
<app-footer></app-footer>