<app-navigation></app-navigation>
<div class="container-my-profile mt-5 pt-5">
    <img src="../../assets/img/profile-img.svg" alt="profile-img" class="profile-img">
  <div class="container-account-info mt-5 pt-5">
    <h1 class="font-big-3 mt-4 pt-3">Account Information</h1>
    <br>
    <hr class="shared-hr" />
    <div class="container-info mt-5 pt-4 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Email</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ user?.email }} </span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 text-primary">Edit</span>
        </div>
    </div>
    <hr class="info-hr">
    <div class="container-info mt-4 pt-3 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">City</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ user?.city }}</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 text-primary">Edit</span>
        </div>
    </div>
    <hr class="info-hr">
    <div class="container-info mt-4 pt-3 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">NIP</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ user?.nip }}</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 text-primary">Edit</span>
        </div>
    </div>
    <hr class="info-hr">
    <div class="container-info mt-4 pt-3 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Name of company</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ user?.nameOfCompany }}</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 text-primary">Edit</span>
        </div>
    </div>
    <hr class="info-hr">
    <div class="container-info mt-4 pt-3 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Postal Code</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">{{ user?.postalCode }}</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 text-primary">Edit</span>
        </div>
    </div>
    <hr class="info-hr">
    <div class="container-info mt-4 pt-3 d-flex flex-row bd-highlight justify-content-between">
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 bold-weight">Password</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2">***********************</span>
        </div>
        <div class="p-2 bd-highlight">
            <span class="font-medium-2 text-primary">Edit</span>
        </div>
    </div>
    <hr class="info-hr info-hr-password">
  </div>
</div>
<app-footer></app-footer>
