<footer class="text-center text-lg-start footer-container">
  <div class="container text-center text-md-start mt-5">
    <div class="row mt-5 pt-1">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        <h6 class="font-medium font-no-wrap mb-3">About YourMarket</h6>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
        <h6 class="font-medium mb-3">My YourMarket</h6>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        <h6 class="font-medium mb-3">Help & FAQs</h6>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
        <h6 class="font-medium mb-3">Ways to Shop</h6>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
        <p class="fw-light">
          <a href="#!" class="text-reset">Lorem ipsum</a>
        </p>
      </div>
    </div>
    <hr class="footer-hr">
  </div>
  <div class="icons">
    <div class="facebook-icon"></div>
    <div class="instagram-icon"></div>
    <div class="linkedin-icon"></div>
    <div class="youtube-icon"></div>
    <div class="twitter-icon"></div>
  </div>
</footer>
