<app-navigation></app-navigation>
<div class="container-home mt-5 pt-5">
  <div class="row">
    <div class="col-6 mt-5 pt-4 text-center">
      <p class="text-uppercase font-medium-4 font-color-grey-2 about bold-weight ">
        Best market app
      </p>
      <h1 class="text-uppercase font-big-2 about-margin-title line-height-70">
        <span class="font-market-color">Ymt</span> helps your <br />
        business
        <span class="font-market-color">grow</span>
      </h1>
      <p
        class="text-uppercase font-small-2 font-color-grey about-margin-text text-start"
      >
        Lörem ipsum sesade nyhetsundvikare pens demigen teraplanat. Polisofi
        ordningskonsult, bullerbysyndromet. Flyttstajla mude klustersmitta lisk,
        kroktiga. Antisat dusk issade pyvode. Sos synfoni. Tevis an tist tisen.
      </p>
      <button class="btn btn-search mt-5 text-start" routerLink="/search-page"> 
        Search for articles
        <div class="search-icon"></div>
      </button>
    </div>
    <div class="col-6">
      <img
        src="../../assets/img/home-page-img.png"
        alt="shop-basket-customer"
      />
    </div>
  </div>
  <app-contact-view></app-contact-view>
</div>
<app-footer></app-footer>
