<div class="contact-us-container mt-2 mb-5 pb-4">
  <div class="row">
    <div class="col">
      <h1 class="text-uppercase contact-margin">
        Contact <span class="font-market-color">Us</span>
      </h1>
      <p
        class="text-uppercase font-small-2 font-color-grey text-start contact-margin-text"
      >
        Lörem ipsum astrol mononade posat tetrapong. Pladen döpogt,
        <span class="font-market-color">tude dejåse. Jadöligt</span> gyfåskade,
        divis ryling. Denetik FAR heren. Nidören.
      </p>
      <img
        src="../../../assets/img/contact-us-img.png"
        alt="contact-us-image"
        class="contact-margin"
      />
    </div>
    <div class="col mt-4 pt-4">
      <p class="text-uppercase">
        Leave your <span class="font-market-color">contact info</span> here!
      </p>
      <form>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            aria-describedby="emailHelp"
            placeholder="Phone Number"
          />
        </div>
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="nameOfCompany"
            placeholder="Name Of Company"
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-control form-textarea"
            id="exampleFormControlTextarea1"
            rows="6"
            placeholder="Additional Info"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-send">Send</button>
      </form>
    </div>
  </div>
</div>
